---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
            <script type="text/javascript" id="mapmyvisitors" style="width: 98px;height: 45px;" src="//mapmyvisitors.com/map.js?d=Go1YyRY0JJKetgC4-Fqpy4nV0zBfgsrWzVA4_vVKWko&cl=ffffff&w=a"></script>
          </section>
        </div>
      </article>
    </div>
    
    {% include scripts.html %}

  </body>
</html>
