---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
            <div style="max-width: 233px; margin: 10;">
              <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=Go1YyRY0JJKetgC4-Fqpy4nV0zBfgsrWzVA4_vVKWko&cl=ffffff&w=a"></script>
            </div>
            <!-- <a href="https://info.flagcounter.com/COIz"><img src="https://s01.flagcounter.com/count2/COIz/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a> -->
          </section>
        </div>
      </article>
    </div>
    
    {% include scripts.html %}

  </body>
</html>
